@import url(https://fonts.googleapis.com/css?family=Nunito:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);

body{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

#main{   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

}

.button{
    background-color: white;
    border-radius: 15px;
    padding: 1em 2em;
    color: coral;
    border: 0;
    border: 2px solid coral;

}

.button:hover{
    background: #333;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    border: 10px solid coral;
    border-radius: 15px;
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.closeBtn{
    color: #ccc;
    float: right;
    font-size : 30px;
}

.closeBtn:hover, .closeBtn:focus{
    color: black;
    text-decoration: none;
    cursor:pointer;
}

.notify{
    display: none;
    z-index: 1;
    left: 0;
    top:0;
}

.theNotifications {
    display: flex;
    justify-content: center;
    align-items: center;

}

.notification-content{
    clear: initial;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 200px;
    border: 3px solid #2BDE3F;
}
